@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    nav {
        flex: 1;
        text-align: left;
        background-color: #825c31;
        height: 12vh;
        width: 100%;
        border-radius: 10px;
    }

    .sidenav {
        background-color: dimgray;
        border-radius: 10px;
    }
    .nav-link {
        font-size: 18px;
    }
    .navbar-nav {
        display: flex;
        justify-content: space-around;

    }
    .navbar-brand ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-brand li {
        margin: 0 10px;
    }

    .navbar-brand a {
        font-size: 18px;
    }
</style>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Mummy Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <body>
        <nav class="navbar-brand m-lg-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Summary">Burial Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="PredictWrapping">Supervised</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Unsupervised">Unsupervised</a>
                </li>
                <li class="nav-item">
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </nav>
            @RenderBody()
    </body>
</html>
<footer class="text-center">
    <div class="footer-content">
        <h3></h3>
        <p>Section 4-7 Intex Project </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p><a class="privacy" href="https://www.privacypolicies.com/live/120101d1-7213-4403-933f-73eb70db8ccc">PRIVACY POLICY</a></p>
    </div>
</footer>

