@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    nav {
        flex: 1;
        text-align: right;
        background-color: #825c31;
        height: 12vh;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 60px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
    }

</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Mummy Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <body>
        <nav class="nav header">
            <ul class="list-group-item-primary">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Summary">Burial Information</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="PredictWrapping">Supervised</a>
                </li>
                <li>
                    <a href="">Unsupervised</a>
                </li>
                <li>
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </nav>
            @RenderBody()
    </body>
</html>
<footer class="text-center">
    <div class="footer-content">
        <h3></h3>
        <p>Section 4-7 Intex Project </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p><a class="privacy" href="https://www.privacypolicies.com/live/120101d1-7213-4403-933f-73eb70db8ccc">PRIVACY POLICY</a></p>
    </div>
</footer>

