@{
}
@model PublicBurialmain

    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-light p-1">
            <h4>Burial ID: @Model.Id</h4>
        </div>

        <ul>
            <li>Preservation: @Model.Preservation</li>
            <li>Text: @Model.Text</li>
            <li>Hair Color: @Model.Haircolor</li>
        </ul>
    </div>