@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Intex2A.Models.PredictionModels.ModelData

<div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h1 style="margin:auto">Predict the Wrapping of the mummy in any given Burial</h1> <br /> <br />
            <form asp-controller="Model" asp-action="Score" method="post">

                <label class="font-weight-bold" asp-for="AgeAtDeath_A">Age at Death:</label> <br />
                <label><input type="radio" asp-for="AgeAtDeath_A" name="age" value="1" />Adult</label>
                <label><input type="radio" asp-for="AgeAtDeath_C" name="age" value="1" />Child</label>
                <label><input type="radio" asp-for="AgeAtDeath_I" name="age" value="1" />Infant</label>
                <label><input type="radio" asp-for="AgeAtDeath_N" name="age" value="1" />Newborn</label>
                <br />
                <label class="font-weight-bold" asp-for="NorthSouth_N">North-South</label> <br />
                <label><input type="radio" asp-for="NorthSouth_N" name="north" value="1" />North</label>
                <label><input type="radio" asp-for="NorthSouth_N" name="north" value="0" />South</label>
                <input type="hidden" asp-for="NorthSouth_N" name="north" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="EastWest_E">East-West:</label> <br />
                <label><input type="radio" asp-for="EastWest_E" name="east" value="1" />East</label>
                <label><input type="radio" asp-for="EastWest_W" name="east" value="1" />West</label>
                <input type="hidden" asp-for="EastWest_W" name="east" value=0 class="form-control">
                <input type="hidden" asp-for="EastWest_E" name="east" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="Area_NE">Area NorthEast:</label> <br />
                <label><input type="radio" asp-for="Area_NE" name="northeast" value="1" />Yes</label>
                <label><input type="radio" asp-for="Area_NE" name="northeast" value="0" />No</label>
                <input type="hidden" asp-for="Area_NE" name="northeast" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="Area_SE">Area SouthEast:</label> <br />
                <label><input type="radio" asp-for="Area_SE" name="southeast" value="1" />Yes</label>
                <label><input type="radio" asp-for="Area_SE" name="southeast" value="0" />No</label>
                <input type="hidden" asp-for="Area_SE" name="southeast" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="Area_SW">Area SouthWest:</label> <br />
                <label><input type="radio" asp-for="Area_SW" name="southwest" value="1" />Yes</label>
                <label><input type="radio" asp-for="Area_SW" name="southwest" value="0" />No</label>
                <input type="hidden" asp-for="Area_SW" name="southwest" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="FaceBundles">Face Bundles:</label> <br />
                <label><input type="radio" asp-for="FaceBundles" name="face-bundles" value="1" />Yes</label>
                <label><input type="radio" asp-for="FaceBundles" name="face-bundles" value="0" />No</label>
                <input type="hidden" asp-for="FaceBundles" name="face-bundles" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="Goods">Goods:</label> <br/>
                <label><input type="radio" asp-for="Goods" name="goods" value="1" />Yes</label>
                <label><input type="radio" asp-for="Goods" name="goods" value="0" />No</label>
                <input type="hidden" asp-for="Goods" name="goods" value=0 class="form-control">
                <br />
                <label class="font-weight-bold" asp-for="Depth">Depth:</label>
                <input asp-for="Depth" class="form-control" step="0.1">
                <br />
                <label class="font-weight-bold" asp-for="SouthToHead">South to Head:</label>
                <input asp-for="SouthToHead" class="form-control" step="0.1">
                <br />
                <label class="font-weight-bold" asp-for="SquareEastWest">Square East West:</label>
                <input asp-for="SquareEastWest" class="form-control" step="0.1">
                <br />
                <label class="font-weight-bold" asp-for="WestToHead">West to Head:</label>
                <input asp-for="WestToHead" class="form-control" step="0.1">
                <br />
                <label class="font-weight-bold" asp-for="WestToFeet">West to Feet:</label>
                <input asp-for="WestToFeet" class="form-control" step="0.1">
                <br />
                <label class="font-weight-bold" asp-for="SouthToFeet">South to Feet:</label>
                <input asp-for="SouthToFeet" class="form-control" step="0.1">
                <br />
                @*<label asp-for="NorthSouth_N">North-South:</label>
            <select asp-for="NorthSouth_N">
                <option value="1">North</option>
                <option value="0">South</option>
            </select>*@
                <button type="submit">Submit</button>
                <br/>
            </form>
        </div>
    </div>
    <div class="col-4"></div>
</div>
