@{
    ViewData["Title"] = "Summary Page";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}
@model List<burialmain>
<style>
    .sidenav {
        background-color: #785C39;
    }
</style>

<div class="row m-1 p-1">
    <div class="col-3 sidenav">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Home Page</a>
        <form method="get" action="@Url.Action("Summary", "Home" )">
            <label>Sex:</label>
            <input type="text" name="sex" id="sex" /> <br/>
            <label>Depth:</label>
            <input type="text" name="depth" id="depth" /> <br />
            <label>Age at Death:</label>
            <input type="text" name="ageatdepth" id="ageaatdepth" /> <br />
            <label>Head Direction:</label>
            <input type="text" name="sex" id="sex" /> <br />
            <label>Wrapping:</label>
            <input type="text" name="wrapping" id="wrapping" /> <br />
            <label>Goods:</label>
            <input type="text" name="goods" id="goods" /> <br />
            <button type="submit">Filter</button>
        </form>
    </div>


    <div class="col-6">
        @foreach (burialmain Bm in Model)
        {
            <partial name="BurialSummary" model="Bm" />
        }
    </div>
    <div class="col-3 sidenav">
        <a asp-controller="Home" asp-action="CreateBurial" class="btn btn-outline-secondary">Create New Record</a>
    </div>
</div>