@{
    ViewData["Title"] = "Summary Page";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}
@model List<burialmain>


    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Home Page</a>
        </div>


        <div class="col-9">
                @foreach (burialmain Bm in Model)
                {
                    <partial name="BurialSummary" model="Bm" />
                }
        </div>
    </div>

@*    <div page-blah="@Model.PageInfo" page-action="Summary" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-classes-enabled="true" class="">

    </div>
*@