@{
    ViewData["Title"] = "Unsupervised";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}
@model Intex2A.Views.Home.UnsuperviseModel

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment HostingEnvironment
@{
    string htmlFilePath = "wwwroot/unsupervised.html";  //Edit this file path to the file path to your html file
    string htmlContent = System.IO.File.ReadAllText(htmlFilePath);
}
<style>
    .col-6 img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        
    }

    .col-6 {
        margin: 0 auto;
        text-align: center;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>
<body>

    <div class="hero">
        <div class="bar">
            <img src="~/lib/image/logo.png" class="logo">
        </div>
        <div class="overlay"></div>
        <h1>Data for the Hypothesis</h1>
        <div class="row">
            <div class="col-6 mx-auto text-center">
              
                <h3>Correlation Thickness of Material to Depth</h3>
                <img src="~/lib/image/thick.jpg" />
                <p>This is a scatterplot of the correlation between the thickness of the material to depth.</p>
                <h3>Correlation Material to Depth</h3>
                <img src="~/lib/image/materialscatterplot.jpg" />
                <p>This is a scatterplot of the correlation between material and depth. As you can see, linen was used consistently in for every depth. However, there was a period of time between depth 0.7 to 1.2 where wool was not used</p>
                <h3>Clustering for Age at Death, Length and Depth</h3>
                <img src="~/lib/image/ageandlength (5).jpg" />
                <p>This is a clustering plot for age at death, length and depth. As you can see, there is a consistency between age, length and death.</p>
                <h3>Clustering for Area, Length and Depth</h3>
                <img src="~/lib/image/arealength (6).jpg" />
                <p>This is a clustering plot for age at Area, length and depth. As you can see, there is a consistency between age, length and death.</p>
            </div>
        </div>
    </div>

    </div>
    <div>
        @Html.Raw(htmlContent)
    </div>
</body>
</html>